<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mainPro.Properties.Settings.assestConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=assest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="mainPro.Properties.Settings.Db_teachearConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Db_teachear;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>